---
---

/* variables go above import statements, straight css goes below */

// variables example:
// https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_variables.scss

/* colors */
$background-color: #f3f6f6 !default;
$primary-color: #5ee6bf !default;
$link-color: #f97171 !default;
$link-color-visited: $link-color !default;
$masthead-link-color: white !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;

/* headline scale */
$h-size-1: 1.563em !default; // ~25.008px
$h-size-2: 1.25em !default; // ~20px
$h-size-3: 1.125em !default; // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px


@import "minimal-mistakes/skins/mint";
@import "{{ site.theme }}";


html {
    background-color: #ffffff;
    font-size: 18px !important;

    @include breakpoint($medium) {
        font-size: 18px !important;
    }

    @include breakpoint($large) {
        font-size: 18px !important;
    }
    
    @include breakpoint($x-large) {
        font-size: 20px !important;
    }
}
  
.sidebar {
    opacity: 1.0 !important;
}

.masthead {
    background-color: #385a7c;
}

.greedy-nav {
    background-color: #385a7c;
}

.page__footer {
    background-color: #385a7c;
}

.greedy-nav a:hover {
    color: #5ee6bf;
}

.greedy-nav a:before {
    background: #f97171 !important;
}

.greedy-nav a.site-title {
    color: #5ee6bf;
}

.greedy-nav .hidden-links {
    background: #385a7c !important;
}

.site-subtitle {
    font-style: italic;
}

.page__footer .fa-envelope {
    color: white !important;
}

.fa-rss-square {
    color: #f97171 !important;
}

.page__footer-copyright {
    color: #5ee6bf !important;
}

.initial-content, .search-content {
    padding-top: 20px;
}

.list__item .page__meta, .list__item .comment__date {
    margin: 0 0 4px;
    font-size: 0.75em;
}

.archive__item-speaker {
    color: #f97171;
    margin-top: 0px;
    margin-bottom: 0px;
}

.archive__item-excerpt {
    margin-top: 0;
    font-size: 0.75em;
}

.archive__item-date {
    margin-top: 1em !important;
}

.archive__subtitle + .list__item .archive__item-speaker {
    font-style: italic;
    margin-top: 10px;
}

.archive__subtitle + .list__item .archive__item-title {
    margin-top: 0em;
}

.page__speaker {
    font-style: italic;
    margin-bottom: 0px;
}
    
.author__content {

}

.archive__item-date {
    margin-top: 0.5em;
    color: #40514e;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
}

.next-talk {
    font-style: italic;
}

.next__talk {
    margin-block-start: 10px;
    margin-block-end: 0px;
    margin: 0px 0 0px !important;
    color: #40514e;
}    

.next-talk a {
    text-decoration: none;
}
    
.talk__title {
    margin-block-start: 0px;
    margin-block-end: -10px;
    margin: 0px 0 0px !important;
    text-decoration: underline;
}    

.author__name {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.organizer-wrapper {
    float:left;
    margin-bottom: 2em;
}

.organizer-img {
    display: inline-block;
    width: 25%;
}

.organizer-bio {
    vertical-align:top;
    display: inline-block;
    width: 74%;
    padding-left: 10px;
}

.site-logo img {
    max-height: 3rem;
}
